<!--================================
        START FOOTER AREA
=================================-->
<!-- fixed-bottom -->
<footer class="footer-area">
    <div class="mini-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- start .social -->
                        <div class="social social--color--filled">
                            <ul>
                                {% for social in site.data.index.about.social %}
                                  {% assign url = social[1].url %}
                                  {% assign icon = social[1].icon %}
                                  {% assign color = social[1].color %}
                                  <li><a target="_blank" href="{{ url }}"><span style="font-size: 3em; color: {{ color }}"> <i class="{{ icon }}"></i></span></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- end /.social -->
                    <div class="copyright-text p-2">
                        <p> <a href="{{ site.imprint[page.lang].url }}">{{ site.imprint[page.lang].title }}</a> - 
                            <a href="{{ site.dsgvo[page.lang].url }}">{{ site.dsgvo[page.lang].title }}</a>
                        </p>
                        <p> {{ site.copyright[page.lang] }} </p>
                    </div>
                    <div class="go_top">
                        <span class="lnr lnr-chevron-up"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--================================
        END FOOTER AREA
    =================================-->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0C5etf1GVmL_ldVAichWwFFVcDfa1y_c"></script> -->
<!-- Scripts -->
<script src="/assets/js/vendor/jquery/jquery-1.12.3.js"></script>
<script src="/assets/js/vendor/jquery/popper.min.js" ></script>
<script src="/assets/js/vendor/jquery/uikit.min.js" ></script>
<script src="/assets/js/vendor/bootstrap.min.js" ></script>
<script src="/assets/js/vendor/chart.bundle.min.js" ></script>
<script src="/assets/js/vendor/grid.min.js" ></script>
<script src="/assets/js/vendor/jquery-ui.min.js" ></script>
<script src="/assets/js/vendor/jquery.barrating.min.js" ></script>
<script src="/assets/js/vendor/jquery.countdown.min.js" ></script>
<script src="/assets/js/vendor/jquery.counterup.min.js" ></script>
<script src="/assets/js/vendor/jquery.easing1.3.js" ></script>
<script src="/assets/js/vendor/owl.carousel.min.js" ></script>
<script src="/assets/js/vendor/slick.min.js" ></script>
<script src="/assets/js/vendor/tether.min.js" ></script>
<script src="/assets/js/vendor/trumbowyg.min.js" ></script>
<script src="/assets/js/vendor/waypoints.min.js" ></script>
<script src="/assets/js/dashboard.js" ></script>
<script src="/assets/js/main.js" ></script>
<!-- <script src="/assets/js/map.js"></script> -->
{% include tracking-footer.html %}