---
layout: default
---
<section class="bgcolor">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-1">
                <div class="single_blog blog--default">
                    <article>
                        <figure>
                            <img src="{{ page.image  }}" alt="Image">
                        </figure>
                        <div class="blog__content">
                            <h4>{{ page.title }}</h4>
                        </div>
                        <div class="single_blog_content">
                            {{ content }}
                            {% comment %}

                              <p><br><br><br></p>    
                              page inspect: {{ page | inspect }}
                            {% endcomment %}
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>