---
layout: default
---
<!--================================
        START HERO AREA
=================================-->
<section class="hero-area hero--1 bgimage">
    {% for item in site.data.index.banner.languages %}
    {% if item.language == page.lang %}
    {% for it in item.banner %}
    <div class="bg_image_holder">
        <img src="{{ it.image }}" alt="{{ it.image_alt }}">
    </div>
    <!-- start hero-content -->
    <div class="hero-content content_above">
        <!-- start .contact_wrapper -->
        <div class="content-wrapper">
            <!-- start .container -->
            <div class="container">
                <!-- start row -->
                <div class="row">
                    <!-- start col-md-12 -->
                    <div class="col-md-12">
                        <div class="hero__content__title">
                            <h1>
                                <span class="light">{{ it.text1 }}</span>
                                <span class="bold">{{ it.text2 }}</span>
                            </h1>
                            <p class="tagline">{{ it.text3 }}</p>
                        </div>
                        <!-- start .hero__btn-area-->
                        <div class="hero__btn-area">
                            <a href="#about-me" class="btn btn--round btn--lg">{{ it.buttontext1 }}</a>
                            <a href="{{ site.contact[page.lang].url }}" class="btn btn--round btn--lg">{{ it.buttontext2 }}</a>
                        </div>
                        <!-- end .hero__btn-area-->
                    </div>
                    <!-- end /.col-md-12 -->
                </div>
                <!-- end /.row -->
            </div>
            <!-- end /.container -->
        </div>
        <!-- end .contact_wrapper -->
    </div>
    <!-- end hero-content -->
    {% endfor %}
    {% endif %}
    {% endfor %}
</section>
<!--================================
        END HERO AREA
=================================-->
<!--================================
        START OVERVIEW AREA
    =================================-->
<section class="overview-area section--padding" id="about-me">
    {% for text in site.data.index.about.text %}
       {% if text.language == page.lang %}
    <!-- start container -->
    <div class="container">
        <!-- start row -->
        <div class="row">
            <!-- start col-md-12 -->
            <div class="col-md-12">
                <div class="section-title">
                    <h1>{{ text.heading }}</h1>
                    <p>{{ text.subheading }}</p>
                </div>
            </div>
            <!-- end /.col-md-12 -->
        </div>
        <!-- end /.row -->
        <div class="row">
            <div class="col-lg-4 offset-lg-1 col-md-6 v_middle overview_cont">
                <div class="overview-icon">
                    <img src="{{ site.data.index.about.portrait[0].image }}" alt="{{ site.data.index.about.portrait[0].description }}">
                    <span>
                        <a href="{{ site.data.index.about.social.email.url }}">
                            <span class="lnr lnr-envelope info-icon"></span> {{ site.data.index.about.social.email.name }} </a>
                    </span>
                    <p>
                        <a href="{{ site.data.index.about.social.twitter.url }}" target="_blank">
                            <span class="fab fa-twitter"></span> {{ site.data.index.about.social.twitter.name }}
                        </a>
                    </p>
                </div>
            </div>
            <!-- end /.col-md-4 -->
            <div class="col-lg-5 offset-lg-1 col-md-6 v_middle overview_cont">
                {{ text.text | markdownify }}
            </div>
            <!-- end /.col-md-5 -->
        </div>
        <!-- end /.row -->
        {% endif %}
    {% endfor %}
        <div class="row m-5">
            {% for logo in site.data.index.about.logos %}
            <div class="col-md-4 v_middle">
                <img src="{{ logo.image }}" alt="logo.description" class="img-fluid">
            </div>
            {% endfor %}
        </div>
        <!-- end /.row -->
    </div>
    <!-- end /.container -->
</section>
<!--================================
        END OVERVIEW AREA
    =================================-->



    {% if site.data.navigation.show.services %}
    <!--================================
            START FEATURE AREA
    =================================-->
    <section class="features section--padding">
        {% assign item = site.pages | where: "ref" , 'services' | where: "lang" , page.lang | first %}
        <!-- start container -->
        <div class="container">
            <div class="row">
                <!-- start col-md-12 -->
                <div class="col-md-12">
                    <div class="section-title">
                         <a href="{{ item.permalink }}"><h1>{{ item.title }}</h1></a>
                         <h3>{{ item.subtitle }}</h3>
                         <br>
                         <p>{{ item.description|newline_to_br }}</p>
                    </div>
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- start row -->
            <div class="row">
                {% for service in site.posts %}
                    {% if service.lang == page.lang and service.categories[0] == "services" %}
                        <div class="col-lg-4">
                            <div class="feature">
                                <a href="{{ service.url }}">
                                    <div class="feature__img">
                                        <img src="{{ service.image }}" alt="">
                                    </div>
                                    <div class="feature__title">
                                            <h3>{{ service.title }}</h3>
                                    </div>
                                </a>
                                <div class="feature__desc">
                                    <p>{{ service.content | markdownify | strip_html | truncate: 140 }}</p>
                                </div>
                            </div>
                        <!-- end /.feature -->
                        </div>
                    {% endif %}
                {% endfor %}
                <!-- end /.col-md-4 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
            END FEATURE AREA
        =================================-->
    {% endif %}



{% if site.data.navigation.show.talks %}
    <!--================================
        START CALL TO ACTION AREA
    =================================-->
<section class="call-to-action bgimage">
    {% assign item = site.pages | where: "ref" , "talks" | where: "lang" , page.lang | first %}
    <div class="bg_image_holder">
        <img src="/images/2019-07-Seattle.jpg"  alt="">
    </div>
    <div class="container content_above">
        <div class="row">
            <div class="col-md-12">
                <div class="call-to-wrap">
                    <h1 class="text--white">{{ item.title }} </h1>
                    <h4 class="text--white">{{ item.subtitle }}</h4>
                    {% capture removestr %}include talks.html{% endcapture %}
                    {% capture removelen %} {{ removestr.size| plus: 6 }} {% endcapture %}
                    {% capture content_shortlen %}{{ item.content.size |minus: removelen }} {% endcapture %}

                    <h4 class="text--white">{{ item.content|truncate: content_shortlen}}</h4>

                    <a href="{{ item.url }}" class="btn btn--round btn--lg btn--white callto-action-btn">{{ item.button_text }}</a>
                    <
                </div>
            </div>
        </div>
    </div>
</section>
<!--================================
        END CALL TO ACTION AREA
=================================-->
{% endif %}

{% if site.data.navigation.show.videos %}
<!--================================
        START FEATURE AREA
    =================================-->

<section class="feature_start section--padding">
    {% assign item = site.pages | where: "ref" , 'videos' | where: "lang" , page.lang | first %}
        <!-- start container -->
        <div class="container">
            <div class="row">
                <!-- start col-md-12 -->
                <div class="col-md-12">
                    <div class="section-title">
                         <a href="{{ item.permalink }}"><h1>{{ item.title }}</h1>
                            <h3>{{ item.subtitle }}</h3>
                            <br>
                            <p>{{ item.description|markdownify }}</p>
                            <p>{{ item.landing_text|markdownify }}</p>
                         </a>
                    </div>
                </div>
                <!-- end /.col-md-12 -->
            </div>

        <!-- start row -->
        <div class="row">
            {% assign videos = site.posts | where: "categories","videos" %}
            {% for video in videos limit:3 %}
                <div class="col-lg-4">
                    <div class="feature">
                        <div>

                            <iframe frameborder="no"
                                    marginwidth="0"
                                    marginheight="0"
                                    width="290"
                                    height="160"
                                    allowfullscreen
                                    src="{{ video.vidurl }}">
                            </iframe>
                        </div>
                            <!-- end /.product__thumbnail -->
                            <div class="product-desc">
                                <a href="{{ video.url }}" class="product_title">
                                    <h3>{{ video.title }} </h3>
                                    <br>
                                    <p>{{ video.subtitle }}</p>
                                </a>

                            </div>
                    </div>
                <!-- end /.feature -->
                </div>
        {% endfor %}

            <!-- end /.col-md-4 -->
        </div>
        <!-- end /.row -->
    </div>
    <!-- end /.container -->
</section>
<!--================================
        END FEATURE AREA
    =================================-->
{% endif %}
